body{
    font-family: "Roboto",sans-serif;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.blue-box{
    background-color: #1F2937;
    color: white;
}

.grey-box{
    background-color: #E5E7EB;
    padding: 50px 0;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;

}

.content>*{
    max-width: 1200px;
    width: 80%;
}

#logo{
    font-size: 24px;
    color: #f9faf8;
}

.header{

    display: flex;
    justify-content: space-between;

}

.header-link{
    display: flex;
    gap:20px;
    list-style: none;
    align-items: center;
}

#content-1{
    display: flex;
    gap:50px;
    justify-content: center;
    align-items: center;
}

.top-box{
    margin-top: 0px;
    margin-bottom: 80px;
}


.left-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex:  0 1  400px;
    gap: 10px;
}

.hero-secondary,.header-link{
    color: #e5e7eb;
    font-size: 18px;
}

.left-box *{
    margin: 0;
}

h1{
    color: #f9faf8;
    font-size: 48px;
    font-weight: 900;
}

.right-box{
    flex:  1 0  400px;
    max-width: 550px;

}

.right-box>img{
    width: 100%;
}

#content-2{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 35px;
    margin: 40px 0;
}

h2{
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}

#image-container{
    display: flex;
    justify-content: center;
    gap: 20px;
}
.fact-box{
    flex: 1 0 200px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    align-items: center;
    text-align: center;
}

.fact-box>img{
    width: 200px;
    border: 4px #3882F6 solid;
    border-radius: 10px;    
}

#content-3{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


#quote,#quote-by{
    width: 100%;
    margin: 10px;
}

#quote{
    font-size: 36px;
    font-style: italic;
    font-weight: 300;
}

#quote-by{
    text-align: right;
    font-size: 24px;
    font-weight: 500;
}

#content-4{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 0;
}

.call{
    width: 100%;
    padding: 40px 100px;
    display: flex;
    background-color:#3882F6;
    color: #E5E7EB;  
    border-radius: 10px;
}

.left-call{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.left-call *{
    margin: 0;
}

.call>*{
    flex:auto;
}
.last-box{
    margin: 0px;
    text-align: center;
}
.call-button{
    display: flex;
    justify-content: center;
    align-items: center;
}

.signup{
    padding: 4px 30px ;
    background-color: #3882F6;
    color: white;
    border: none;
    border-radius: 4px;
}
.call-button>button{
    border: white 2px solid;
    border-radius: 4px;
}
.footer{
    margin: 25px 0;
}

