body{
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
    margin:50px 0 50px 0;
}

.content>*{
    max-width: 1200px;
    width: 80%;
}

.header{

    display: flex;
    justify-content: space-between;

}

.header ul{
    display: flex;
    gap:20px;
}

#content-1{
    display: flex;
    gap:50px;
    justify-content: center;
    align-items: center;
}

.top-box{margin-top: 0px;}


.left-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex:  0 1  400px
}

.right-box{
    flex:  1 0  400px;
    max-width: 550px;

}

.right-box>img{
    width: 100%;
}

#content-2{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 35px;
}

#image-container{
    display: flex;
    justify-content: center;
    gap: 10px;
}
.fact-box{
    flex: 1 0 200px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    align-items: center;
    text-align: center;
}

.fact-box>img{
    width: 200px;
    border: 2px blue solid;
    border-radius: 10px;    
}

#content-3{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#quote,#quote-by{
    width: 100%;
}

#quote-by{
    text-align: right;
}

#content-4{
    display: flex;
    justify-content: center;
    align-items: center;
}

.call{
    width: 100%;
    padding: 50px;
    display: flex;
    justify-content: space-;

}
.call>*{
    flex:auto;
}
.last-box{
    margin: 0px;
    text-align: center;
}
.call-button{
    display: flex;
    justify-content: center;
    align-items: center;
}